@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  color-scheme: dark;
}

#root,
html,
body,
.nav-content {
  height: 100%;
}

#root {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
}

img {
  display: block;
}

::-webkit-scrollbar {
  width: 7px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  height: 20px;
  background-color: #404047;
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  border: 0;
}

::-webkit-scrollbar:hover {
  border: 0;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  height: 10px;
}

::-webkit-scrollbar-track:hover {
  background-color: #2929299d;
  border-radius: 5px;
}

/* table {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
} */

/* tbody { */
/* display: flex;
  flex-direction: column; */
/* overflow-y: scroll; */
/* } */
/* 
thead,
tfoot,
tr {
  display: table;
  width: 100%;
  table-layout: fixed;
} */
